html {

    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    width: 1200px;
    height: 1080px;
    background-image: url("../imagens/bg-repeat.jpg");
    background-repeat: repeat-x;
    background-position: center;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
     z-index: 1;

}


.container {
    display: flex;
    flex-wrap: wrap;

}

.formulario {
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 340px;
    height: 378px;
    flex-shrink: 0;

}





.formulario > input {
    -moz-appearance:none;
    appearance: none;

    width: 298.013px;
    height: 35.11px;
    flex-shrink: 0;
    margin-top: 10px;

    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 5px;
    border: 1px solid #000;


}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}



.campo-obrigatorio {
    display: flex;
    justify-content: flex-start;
    width: 298.013px;
    height: 35.11px;
    
    

}

#mensagem {
    resize: none;
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    
    flex-shrink: 0;
    margin-top: 10px;

    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 5px;
    border: 1px solid #000;
    width: 298.013px;
height: 100px;
flex-shrink: 0;

}

#enviar {
    margin-top: -10px;
    flex-shrink: 0;
    background-color: #3CCC87;

}

.titulo {


    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 340px;
    height: 378px;
    flex-shrink: 0;
}

.titulo h3 {
    padding: 15px;
   
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;

}

.titulo p {
    padding: 20px;
  

    font-style: normal;
    font-weight: 400;
    line-height: normal;

}


.obrigatorio{
    
color: #F52E2E;
font-family: Roboto;
font-size: 8px;
font-style: normal;
font-weight: 400;
line-height: normal;
display: none;
justify-content: flex-start;
width: 300px;

}

.incorreto{
    border: 1px solid #F52E2E !important;
    
}


.correto{
    border: 1px solid #00C22B !important;
    
}